.Login{
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2rem;

    .wrap{
        margin: 0 auto;
        width: 600px;
        background-color: transparent;
        padding: 5rem 3rem;
        position: relative;

    }
    .wrap::after{
        display: block;
        width: 10rem;
        height: 10rem;
        position: relative;
        background-color: #ea1b29;
        top: 10rem;
        left: 10rem;
    }
    .field{
        display: inline-block;

    }
    .error{
        border: 1px solid #f00;
        font-size: 2rem;
        width: 100%;
    }
    .error:focus
    .succes:focus{
        outline-width: 0px;
    }
    .succes{
        border: 1px solid #0f0;
        font-size: 2rem;
        width: 100%;
    }
    input{
        display: block;
        outline: none;
        font-size: 2rem;
        width: 100%;
    }
}