.CartIcon{
    display: block;
    position: relative;
    .nav_link{
        text-decoration: none;
        color: #fff;
    }
    .nav_link:hover{
        text-decoration: none;
        color: #fff;
    }
    span {
        background-color: #ea1b29;
        width: 23px;
        height: 20px;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        position: absolute;
        top: -2px;
        left: 10px;
        padding: 1px 2px 0 1px;
        box-sizing: border-box;
    }
}
.wrapLoader{
    width: 100%;
    display: flex;
    justify-content: center;
}
.CartPage{
    min-height: 300px;
}