.InputText{
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-size: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.active{
    margin: 0;
    position:absolute;
    font-size: 1rem;
    top: 3.5rem;
    color: rgb(220, 0, 0);
}
.error{
    background-color: #e59a9a;
}