@import "~react-image-gallery/styles/css/image-gallery.css";
body{
  background-color: #fff;
  margin:0;
  padding:0;
}
header{
  width: 1100px
  
}
.header_fon{
  position: absolute;
}
.header_content{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items:flex-start;
}
section.content{
  position: relative;
}
.search{
  position: relative;
}
.wrap{
  display:flex;
}