body{
  background-color: #fff;
  margin:0;
  padding:0;
  position: relative;
}
header{
  overflow: hidden;
  position: relative;
  height: 1030px;
}
.header_fon{
  /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}
.header_content{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items:flex-start;
}
section.content{
  position: relative;
}
.search{
  position: relative;
}
.wrap{
  display:flex;
}